﻿@using DistributedTaskSolving.Application.Shared.Business.JobSystem.JobInstances.Dto;
@using DistributedTaskSolving.Application.Shared.Business.JobSystem.WorkUnits.Dto
@using MediatR
@using DistributedTaskSolving.Application.Business.JobSystem.WorkUnits.QueryHandlers
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.BarChart.Axes
@using ChartJs.Blazor.ChartJS.BubbleChart
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using ChartJs.Blazor.Charts
@using System.Globalization
@using System.Linq
@using System.Runtime.InteropServices.ComTypes
@using ChartJs.Blazor.ChartJS.Common.Handlers
@inherits GridReadComponent<JobInstanceDto>
@inject IMediator Mediator

<h2>Job Instance @Item.Id</h2>

<div class="row">
    <div class="col-12">
        <div class="text-break">
            Key:
            <p><pre class="pre-scrollable">@Item.Key</pre></p>
        </div>
        <div class="text-break" style="max-width: 75vw">
            Result:
            <p><pre class="pre-scrollable">@(string.IsNullOrEmpty(Item.Result) ? "n/a" : Item.Result)</pre></p>
        </div>

        <h3 class="text-center">Started on: @Item.CreationDateTime</h3>

        @if (Item.IsSolved)
        {
            <h3 class="text-center">Finished on: @Item.FinishDateTime</h3>
        }
    </div>
</div>

<h3 class="text-center">Real time: @(((Item.FinishDateTime ?? DateTime.UtcNow) - Item.CreationDateTime).ToString("c"))</h3>

@if (_workUnits != null)
{
    <h3 class="text-center">CPU time: @_cpuTime.ToString("c")</h3>
    <h3 class="text-center">Work unit count: @_workUnits.Count</h3>
    <h3 class="text-center">Unique clients count: @_uniqueWorkUnitConnectionIds</h3>
    <h3 class="text-center">Max work unit overall time: @_maxWorkUnitTime</h3>
    <h3 class="text-center">Min work unit overall time: @_minWorkUnitTime</h3>
    <h3 class="text-center">Mean work unit overall time: @_meanWorkUnitTime</h3>
    <h3 class="text-center">Max work unit CPU time: @_maxWorkUnitCpuTime</h3>
    <h3 class="text-center">Min work unit CPU time: @_minWorkUnitCpuTime</h3>
    <h3 class="text-center">Mean work unit CPU time: @_meanWorkUnitCpuTime</h3>
    <h3 class="text-center">Mean work unit count time per hour: @_meanWorkUnitCountPerHour.ToString("F")</h3>

    <div class="row">
        <div class="col-12">
            <ChartJsPieChart @ref="_userAgentPieChartJs" Config="@_userAgentPieConfig" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ChartJsPieChart @ref="_workUnitDetailsPieChartJs" Config="@_workUnitDetailsPieConfig" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ChartJsBarChart @ref="_workUnitTimeChartJs" Config="@_workUnitTimeConfig" />
        </div>
    </div>
}

@code
{
    List<WorkUnitDto> _workUnits;
    List<WorkUnitDto> _workUnitsWithExecutionTimes;
    TimeSpan _cpuTime;
    PieConfig _workUnitDetailsPieConfig;
    ChartJsPieChart _workUnitDetailsPieChartJs;
    PieConfig _userAgentPieConfig;
    ChartJsPieChart _userAgentPieChartJs;
    BarConfig _ramSizeBarConfig;
    ChartBase<BarConfig> _ramSizeBarChartJs;
    BarConfig _workUnitTimeConfig;
    ChartBase<BarConfig> _workUnitTimeChartJs;
    int _uniqueWorkUnitConnectionIds;
    double _meanWorkUnitCountPerHour;
    TimeSpan _meanWorkUnitTime;
    TimeSpan _maxWorkUnitTime;
    TimeSpan _minWorkUnitTime;
    TimeSpan _meanWorkUnitCpuTime;
    TimeSpan _maxWorkUnitCpuTime;
    TimeSpan _minWorkUnitCpuTime;

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkUnits();

        LoadMiscData();

        LoadUserAgentPieChart();
        LoadWorkUnitDetailsPieChart();
        //LoadRamSizeBarChart();
        LoadWorkUnitTimeBarChart();
    }

    public void LoadMiscData()
    {
        _uniqueWorkUnitConnectionIds = _workUnits
            .GroupBy(_ => _.ConnectionId)
            .Count();

        var hoursInJobInstance = ((Item.FinishDateTime ?? DateTime.UtcNow) - Item.CreationDateTime).TotalHours;
        _meanWorkUnitCountPerHour = _workUnits.Count / hoursInJobInstance;

        var workUnitTicks = _workUnits
            .Where(_ => _.SubmitDateTime != null)
            .Select(_ => (_.SubmitDateTime.Value - _.CreationDateTime).Ticks)
            .ToList();

        var averageWorkUnitTicks = workUnitTicks.Average();
        _meanWorkUnitTime = new TimeSpan(Convert.ToInt64(averageWorkUnitTicks));

        var maxWorkUnitTicks = workUnitTicks.Max();
        _maxWorkUnitTime = new TimeSpan(Convert.ToInt64(maxWorkUnitTicks));

        var minWorkUnitTicks = workUnitTicks.Min();
        _minWorkUnitTime = new TimeSpan(Convert.ToInt64(minWorkUnitTicks));


        var workUnitCpuTimes = _workUnitsWithExecutionTimes
            .Select(_ => _.ExecutionTimeInMs);

        if (workUnitCpuTimes.Any())
        {
            var averageWorkUnitCpuTime = workUnitCpuTimes.Average();
            _meanWorkUnitCpuTime = TimeSpan.FromMilliseconds(averageWorkUnitCpuTime);

            var maxWorkUnitCpuTicks = workUnitCpuTimes.Max();
            _maxWorkUnitCpuTime = TimeSpan.FromMilliseconds(maxWorkUnitCpuTicks);

            var minWorkUnitCpuTicks = workUnitCpuTimes.Min();
            _minWorkUnitCpuTime = TimeSpan.FromMilliseconds(minWorkUnitCpuTicks);
        }
    }

    public async Task LoadWorkUnits()
    {
        _workUnits = await Mediator.Send(new WorkUnitForJobInstanceQuery
        {
            Id = Item.Id
        });

        _workUnits = _workUnits.Where(_ => _.IsSolved).ToList();

        var cpuTimes = _workUnits.Select(x => new
        {
            CpuTime = x.SubmitDateTime == null ? TimeSpan.Zero : (DateTime)x.SubmitDateTime - x.CreationDateTime
        });

        _cpuTime = new TimeSpan(cpuTimes.Sum(r => r.CpuTime.Ticks));

        _workUnitsWithExecutionTimes = _workUnits
            .Where(_ => _.ExecutionTimeInMs > 0)
            .ToList();

        StateHasChanged();
    }

    public void LoadUserAgentPieChart()
    {
        _userAgentPieConfig = new PieConfig
        {
            Options = new PieOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "User Agent"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                },
            }
        };

        var workUnitGroupedByUserAgent = _workUnits.GroupBy(_ => _.UserAgent).ToList();

        _userAgentPieConfig.Data.Labels.AddRange(
            workUnitGroupedByUserAgent.Select(x => string.IsNullOrEmpty(x.Key) ? "Other" : x.Key)
            );

        var pieSet = new PieDataset
        {
            BackgroundColor = new[] { ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString() },
            BorderWidth = 0,
            HoverBackgroundColor = ColorUtil.RandomColorString(),
            HoverBorderColor = ColorUtil.RandomColorString(),
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        pieSet.Data.AddRange(workUnitGroupedByUserAgent.Select(_ => (double)_.Count()));

        _userAgentPieConfig.Data.Datasets.Add(pieSet);
    }

    public void LoadWorkUnitDetailsPieChart()
    {
        _workUnitDetailsPieConfig = new PieConfig
        {
            Options = new PieOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Work Unit Time Breakthrough"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                },
            }
        };


        var pieSet = new PieDataset
        {
            BackgroundColor = new[] { ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString() },
            BorderWidth = 0,
            HoverBackgroundColor = ColorUtil.RandomColorString(),
            HoverBorderColor = ColorUtil.RandomColorString(),
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        var labels = new List<string>()
        {
            "Execution time", "Communication overhead"
        };

        _workUnitDetailsPieConfig.Data.Labels.AddRange(
            labels
        );

        pieSet.Data.Add(_workUnitsWithExecutionTimes.Sum(_ => _.ExecutionTimeInMs));
        pieSet.Data.Add(_workUnitsWithExecutionTimes.Aggregate(0, (res, item) => res + (item.SubmitDateTime - item.CreationDateTime).Value.Milliseconds));

        _workUnitDetailsPieConfig.Data.Datasets.Add(pieSet);
    }

    public void LoadRamSizeBarChart()
    {
        _ramSizeBarConfig = new BarConfig
        {
            Options = new BarOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Ram size"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                },
                Legend = new Legend
                {
                    Display = false
                }
            }
        };

        var workUnitsGroupedByRamSize = _workUnits.GroupBy(_ => _.RamSize).ToList();

        _ramSizeBarConfig.Data.Labels.AddRange(
            workUnitsGroupedByRamSize.Select(x => string.IsNullOrEmpty(x.Key) ? "Other" : x.Key)
        );

        var barDataSet = new BarDataset<string>
        {
            BackgroundColor = new[] { ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString() },
            BorderWidth = 0,
            HoverBackgroundColor = ColorUtil.RandomColorString(),
            HoverBorderColor = ColorUtil.RandomColorString(),
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        barDataSet.AddRange(workUnitsGroupedByRamSize.Select(_ => _.Count().ToString()));

        _ramSizeBarConfig.Data.Datasets.Add(barDataSet);
    }

    public void LoadWorkUnitTimeBarChart()
    {
        _workUnitTimeConfig = new BarConfig
        {
            Options = new BarOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Work Units Times in Seconds"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                },
                Legend = new Legend
                {
                    Display = false
                }
            }
        };

        var workUnitsTimes = _workUnits
            .Where(_ => _.SubmitDateTime.HasValue)
            .GroupBy(x => (x.SubmitDateTime.Value - x.CreationDateTime).Seconds)
            .OrderBy(_ => _.Key)
            .ToList();

        _workUnitTimeConfig.Data.Labels.AddRange(workUnitsTimes.Select(_ => _.Key.ToString()));

        var barDataSet = new BarDataset<string>
        {
            BackgroundColor = new[] { ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString(), ColorUtil.RandomColorString() },
            BorderWidth = 0,
            HoverBackgroundColor = ColorUtil.RandomColorString(),
            HoverBorderColor = ColorUtil.RandomColorString(),
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        barDataSet.AddRange(workUnitsTimes.Select(_ => _.Count().ToString()));

        _workUnitTimeConfig.Data.Datasets.Add(barDataSet);
    }
}
