﻿@page "/signalrTest"
@inject NavigationManager navigationManager
@using DistributedTaskSolving.Application.Business.JobSystem.JobInstances.Hubs.Clients
@using DistributedTaskSolving.Application.IGenerics.GridServices
@using DistributedTaskSolving.Application.Shared.Business.JobSystem.Algorithms
@using DistributedTaskSolving.Application.Shared.Business.JobSystem.WorkUnits.Dto
@using DistributedTaskSolving.Application.Shared.Business.ProgrammingLanguages
@using DistributedTaskSolving.Business.BusinessEntities.JobSystem.Algorithms
@using DistributedTaskSolving.Business.BusinessEntities.JobSystem.JobTypes
@using DistributedTaskSolving.Business.BusinessEntities.ProgrammingLanguages
@inject IQueryGridService<ProgrammingLanguage, int, ProgrammingLanguageDto> ProgrammingLanguageQueryService
@inject IQueryGridService<Algorithm, long, AlgorithmDto> AlgorithmQueryService
@inject IJSRuntime JSRuntime

<h1>Page To Test SignalR</h1>

<div>
    Analytics:
</div>
<div>
    Programming Language:
    <select @bind="ProgrammingLanguageName">
        @if (AllProgrammingLanguages != null)
        {
            @foreach (var pl in AllProgrammingLanguages)
            {
                <option value="@pl.Title">@pl.Title</option>
            }
        }
    </select>
</div>
<div>
    Algorithms:
    <select @bind="AlgorithmName">
        @if (AllAlgorithms != null)
        {
            @foreach (var a in AllAlgorithms)
            {
                <option value="@a.Title">@a.Title</option>
            }
        }
    </select>
</div>

<button type="button" class="btn btn-primary"
        @onclick="@(() => Connect(JobTypeEnums.PasswordBruteForcing))">
    Connect to hub for job type: @JobTypeEnums.PasswordBruteForcing
</button>

<button type="button" class="btn btn-primary"
        @onclick="@(() => Connect(JobTypeEnums.MonteCarlo))">
    Connect to hub for job type: @JobTypeEnums.MonteCarlo
</button>

<button type="button" class="btn btn-primary"
        @onclick="@(() => Connect(JobTypeEnums.Sequencing))">
    Connect to hub for job type: @JobTypeEnums.Sequencing
</button>


<div class="my-2">
    @if (!string.IsNullOrEmpty(LastMessageFromServer))
    {
        @if (WorkUnitId != default)
        {
            <div>
                Server responded with work unit: @LastMessageFromServer
            </div>
            <div>
                Your answer (result of your calculations):
                <input @bind="DataOut" type="text" />
            </div>
            <div>
                Mark current job instance as solved:
                <input @bind="IsSolved" type="checkbox" />
            </div>

            <button type="submit" class="btn btn-primary" @onclick="Submit">Submit</button>
        }
        else
        {
            <div>
                Response sent to server
            </div>
        }
    }
</div>

<button type="button" class="btn btn-secondary" @onclick="Refresh">Refresh Page</button>

@code
{
    private JobInstanceHubClientForTest _hubClient = null;
    public static string LastMessageFromServer { get; set; }
    public static string DataOut { get; set; }
    public static long WorkUnitId { get; set; }
    public static bool IsSolved { get; set; }


    public static string ProgrammingLanguageName { get; set; }
    public static string AlgorithmName { get; set; }

    public static IEnumerable<SelectItem> AllProgrammingLanguages;
    public static IEnumerable<SelectItem> AllAlgorithms;


    protected override void OnInitialized()
    {
        AllProgrammingLanguages = ProgrammingLanguageQueryService.GetAllSelectItemList();
        AllAlgorithms = AlgorithmQueryService.GetAllSelectItemList();
        ProgrammingLanguageName = AllProgrammingLanguages.FirstOrDefault()?.Title;
        AlgorithmName = AllAlgorithms.FirstOrDefault()?.Title;
    }


    async Task Connect(string jobTypeName)
    {
        var remoteUserAgent = await JSRuntime.InvokeAsync<string>("getUserAgent");
        _hubClient ??= new JobInstanceHubClientForTest(navigationManager);
        await _hubClient.StartWorkAsync(jobTypeName, new WorkUnitClientDto { UserAgent = remoteUserAgent }, AlgorithmName, ProgrammingLanguageName);
    }

    public class JobInstanceHubClientForTest : JobInstanceHubClient
    {

        public JobInstanceHubClientForTest(NavigationManager navigationManager) : base(navigationManager)
        {
        }

        public override void ReceiveWorkUnit(long workUnitId, string dataIn)
        {
            LastMessageFromServer = $"ID: {workUnitId} | DATA: {dataIn}";
            WorkUnitId = workUnitId;
        }

    }

    public void Refresh()
    {
        StateHasChanged();
    }

    public async Task Submit()
    {
        await _hubClient.FinishWorkUnit(WorkUnitId, DataOut, IsSolved);
        WorkUnitId = default;
        DataOut = string.Empty;
        IsSolved = false;
        Refresh();
    }
}
