﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DistributedTaskSolving</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="swagger">
                <span class="oi oi-fork" aria-hidden="true"></span> Swagger API
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobTypes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Job Types
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="algorithms">
                <span class="oi oi-terminal" aria-hidden="true"></span> Algorithms
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="programmingLanguages">
                <span class="oi oi-code" aria-hidden="true"></span> Languages
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jobInstances">
                <span class="oi oi-task" aria-hidden="true"></span> Job Instances
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="workUnits">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Work Units
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="apiLogs">
                <span class="oi oi-terminal" aria-hidden="true"></span> Api Logs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fileLogs">
                <span class="oi oi-terminal" aria-hidden="true"></span> File Logs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="signalrTest">
                <span class="oi oi-beaker" aria-hidden="true"></span> SignalR Test
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
